body {
    background: rgb(136,136,136);
background: linear-gradient(180deg, rgba(136,136,136,1) 31%, rgba(0,0,0,1) 88%);
}

h1 {
     color: rgb(255, 255, 255);
     background-color: rgb(176, 176, 176);
     font-family: cursive;
} 

#show_sketch {
    float: right;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    font-family: monospace;
    box-shadow: white;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    margin-top: 50px ;
    animation-iteration-count:infinite ;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(255, 235, 250);}
    to {box-shadow: 1px 1px 38px rgb(0, 0, 0);}
}

h4 {
    padding-top:10px;
    font-size:25px;
    color: white;
    font-weight: 600;
    font-family: monospace;
}

#Score {
    float: left;
}

#Timer {
    float: right;
}